In [ ]:
# Link dataset
# https://drive.google.com/file/d/1UW38R58WU9KLcypftUMXGa2h504wdC86/view?usp=sharing

# Lưu ý:
# Viết code rõ ràng, nhớ có comment, hoàn thiện mới được push lên nhánh master

In [16]:
import pandas as pd

In [17]:
df = pd.read_csv('./goodreads_reviews_comics_graphic.csv')

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 542338 entries, 0 to 542337
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       542338 non-null  object
 1   book_id       542338 non-null  int64
 2   review_id     542338 non-null  object
 3   rating        542338 non-null  int64
 4   review_text   542015 non-null  object
 5   date_added    542338 non-null  object
 6   date_updated  542338 non-null  object
 7   read_at       469064 non-null  object
 8   started_at    314371 non-null  object
 9   n_votes       542338 non-null  int64
 10  n_comments    542338 non-null  int64
dtypes: int64(4), object(7)
memory usage: 45.5+ MB

In [40]:
df.head()

,user_id,book_id,review_id,rating,review_text,date_added,date_updated,read_at,started_at,n_votes,n_comments
0,dc3763cdb9b2cae805882878eebb6a32,18471619,66b2ba840f9bd36d6d27f46136fe4772,3,Sherlock Holmes and the Vampires of London \r\...,Thu Dec 05 10:44:25 -0800 2013,Thu Dec 05 10:45:15 -0800 2013,Tue Nov 05 00:00:00 -0800 2013,NaN,0,0
1,bafc2d50014200cda7cb2b6acd60cd73,6315584,72f1229aba5a88f9e72f0dcdc007dd22,4,"I've never really liked Spider-Man. I am, howe...",Wed Aug 10 06:06:48 -0700 2016,Fri Aug 12 08:49:54 -0700 2016,Fri Aug 12 08:49:54 -0700 2016,Wed Aug 10 00:00:00 -0700 2016,0,0
2,bafc2d50014200cda7cb2b6acd60cd73,29847729,a75309355f8662caaa5e2c92ab693d3f,4,"A very quick introduction, this is coming out ...",Thu Apr 21 07:44:00 -0700 2016,Thu Apr 21 07:59:28 -0700 2016,Thu Apr 21 07:59:28 -0700 2016,Thu Apr 21 00:00:00 -0700 2016,0,0
3,bafc2d50014200cda7cb2b6acd60cd73,18454118,c3cc5a3e1d6b6c9cf1c044f306c8e752,5,I've been waiting so long for this. I first st...,Mon Mar 03 17:45:56 -0800 2014,Mon Mar 03 17:54:11 -0800 2014,Sat Mar 01 00:00:00 -0800 2014,Sat Mar 01 00:00:00 -0800 2014,1,0
4,bafc2d50014200cda7cb2b6acd60cd73,2239435,cc444be37ab0a42bfb4dd818cb5edd10,4,The only thing more entertaining than this boo...,Wed Apr 03 12:37:48 -0700 2013,Wed Apr 03 13:03:36 -0700 2013,Wed Apr 03 13:03:36 -0700 2013,NaN,0,0

In [41]:
# Chỉ lấy user_id, book_id, rating, n_votes để xử lí
# rating cao cùng với n_votes(số lượng vote cho comment) càng cao thì quyển sách đó hay, đã được nhiều người đánh giá
data = df[['user_id', 'book_id', 'rating', 'n_votes']]

In [42]:
data.head()
# Bắt đầu xử lí và áp dụng giải thuật từ đây

                            user_id   book_id  rating  n_votes
0  dc3763cdb9b2cae805882878eebb6a32  18471619       3        0
1  bafc2d50014200cda7cb2b6acd60cd73   6315584       4        0
2  bafc2d50014200cda7cb2b6acd60cd73  29847729       4        0
3  bafc2d50014200cda7cb2b6acd60cd73  18454118       5        1
4  bafc2d50014200cda7cb2b6acd60cd73   2239435       4        0

In [48]:
data.describe()[['rating', 'n_votes']]

              rating        n_votes
count  542338.000000  542338.000000
mean        3.778138       0.976668
std         1.153660       5.505610
min         0.000000      -2.000000
25%         3.000000       0.000000
50%         4.000000       0.000000
75%         5.000000       0.000000
max         5.000000     806.000000